In [75]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [76]:
# Load dataset
df = pd.read_csv('titanic.csv')

In [77]:
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [78]:
# Sets null values equal to the median of that column
def handle_null_median(df):
    # Need to set inplace=True, so it doesn't create a copy of the dataframe. Tried without and this led to null-values not being removed
    df['Fare'].fillna(df['Fare'].median(), inplace=True)
    df['Age'].fillna(df['Age'].median(), inplace=True)

    df['Embarked'].fillna('S', inplace=True)

    return  df

df = handle_null_median(df)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  28.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [79]:
df['Sex'] = df['Sex'].replace(['female', 'male'], [0,1])
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    1  22.0      1      0   7.2500        S
1           1       1    0  38.0      1      0  71.2833        C
2           1       3    0  26.0      0      0   7.9250        S
3           1       1    0  35.0      1      0  53.1000        S
4           0       3    1  35.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
886         0       2    1  27.0      0      0  13.0000        S
887         1       1    0  19.0      0      0  30.0000        S
888         0       3    0  28.0      1      2  23.4500        S
889         1       1    1  26.0      0      0  30.0000        C
890         0       3    1  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [80]:
def bins(df): # This is kind of feature engineering as well
    df['AgeGroup'] = 0
    df.loc[df['Age'] < 16.336, 'AgeGroup' ] = 0
    df.loc[(df['Age'] >= 16.336) & (df['Age'] < 32.252), 'AgeGroup'] = 1
    df.loc[(df['Age'] >= 32.252) & (df['Age'] < 48.168), 'AgeGroup'] = 2
    df.loc[(df['Age'] >= 48.168) & (df['Age'] < 64.084), 'AgeGroup'] = 3
    df.loc[df['Age'] >= 64.084, 'AgeGroup'] = 4

    # Could also create bins for fare, but not sure Fare is needed.

    return df

df = bins(df)
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  AgeGroup
0           0       3    1  22.0      1      0   7.2500        S         1
1           1       1    0  38.0      1      0  71.2833        C         2
2           1       3    0  26.0      0      0   7.9250        S         1
3           1       1    0  35.0      1      0  53.1000        S         2
4           0       3    1  35.0      0      0   8.0500        S         2
..        ...     ...  ...   ...    ...    ...      ...      ...       ...
886         0       2    1  27.0      0      0  13.0000        S         1
887         1       1    0  19.0      0      0  30.0000        S         1
888         0       3    0  28.0      1      2  23.4500        S         1
889         1       1    1  26.0      0      0  30.0000        C         1
890         0       3    1  32.0      0      0   7.7500        Q         1

[891 rows x 9 columns]

In [81]:
df['FamilyMembersCount'] = df['Parch'] + df['SibSp'] + 1

In [82]:
df['Pclass'] =  df['Pclass'].astype('category')
df['Embarked'] =  df['Embarked'].astype('category')
df['AgeGroup'] =  df['AgeGroup'].astype('category')

In [123]:
df_XGB = df.copy()
df_RF = df.copy()
df_GNB = df.copy()

In [124]:
df_XGB = pd.get_dummies(df)
df_RF = pd.get_dummies(df)
df_GNB = pd.get_dummies(df)
df_RF

,Survived,Sex,Age,SibSp,Parch,Fare,FamilyMembersCount,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,AgeGroup_0,AgeGroup_1,AgeGroup_2,AgeGroup_3,AgeGroup_4
0,0,1,22.0,1,0,7.2500,2,0,0,1,0,0,1,0,1,0,0,0
1,1,0,38.0,1,0,71.2833,2,1,0,0,1,0,0,0,0,1,0,0
2,1,0,26.0,0,0,7.9250,1,0,0,1,0,0,1,0,1,0,0,0
3,1,0,35.0,1,0,53.1000,2,1,0,0,0,0,1,0,0,1,0,0
4,0,1,35.0,0,0,8.0500,1,0,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,1,27.0,0,0,13.0000,1,0,1,0,0,0,1,0,1,0,0,0
887,1,0,19.0,0,0,30.0000,1,1,0,0,0,0,1,0,1,0,0,0
888,0,0,28.0,1,2,23.4500,4,0,0,1,0,0,1,0,1,0,0,0
889,1,1,26.0,0,0,30.0000,1,1,0,0,1,0,0,0,1,0,0,0
890,0,1,32.0,0,0,7.7500,1,0,0,1,0,1,0,0,1,0,0,0

In [101]:
from sklearn.model_selection import train_test_split

# XGBoost

In [170]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

train_X, test_X, train_y, test_y = train_test_split(df_XGB.drop('Survived', axis=1), df_XGB['Survived'], random_state=321)
X, y = df_XGB.iloc[:,:-1],df_XGB.iloc[:,:1]

model = XGBClassifier()
model.fit(train_X, train_y)

pred_y = model.predict(test_X)
preds = [round(value) for value in pred_y]

# evaluate predictions
accuracy = accuracy_score(test_y, preds)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 85.20%

In [182]:
pred = pd.DataFrame(preds)
pred.merge(test_X, right_index=True, left_index=True)

,0,Sex,Age,SibSp,Parch,Fare,FamilyMembersCount,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,AgeGroup_0,AgeGroup_1,AgeGroup_2,AgeGroup_3,AgeGroup_4
4,0,1,35.00,0,0,8.0500,1,0,0,1,0,0,1,0,0,1,0,0
6,1,1,54.00,0,0,51.8625,1,1,0,0,0,0,1,0,0,0,1,0
7,0,1,2.00,3,1,21.0750,5,0,0,1,0,0,1,1,0,0,0,0
13,0,1,39.00,1,5,31.2750,7,0,0,1,0,0,1,0,0,1,0,0
23,0,1,28.00,0,0,35.5000,1,1,0,0,0,0,1,0,1,0,0,0
24,1,0,8.00,3,1,21.0750,5,0,0,1,0,0,1,1,0,0,0,0
25,1,0,38.00,1,5,31.3875,7,0,0,1,0,0,1,0,0,1,0,0
26,0,1,28.00,0,0,7.2250,1,0,0,1,1,0,0,0,1,0,0,0
28,0,0,28.00,0,0,7.8792,1,0,0,1,0,1,0,0,1,0,0,0
30,1,1,40.00,0,0,27.7208,1,1,0,0,1,0,0,0,0,1,0,0
40,1,0,40.00,1,0,9.4750,2,0,0,1,0,0,1,0,0,1,0,0
44,1,0,19.00,0,0,7.8792,1,0,0,1,0,1,0,0,1,0,0,0
48,0,1,28.00,2,0,21.6792,3,0,0,1,1,0,0,0,1,0,0,0
49,1,0,18.00,1,0,17.8000,2,0,0,1,0,0,1,0,1,0,0,0
50,0,1,7.00,4,1,39.6875,6,0,0,1,0,0,1,1,0,0,0,0
56,0,0,21.00,0,0,10.5000,1,0,1,0,0,0,1,0,1,0,0,0
59,0,1,11.00,5,2,46.9000,8,0,0,1,0,0,1,1,0,0,0,0
66,1,0,29.00,0,0,10.5000,1,0,1,0,0,0,1,0,1,0,0,0
74,0,1,32.00,0,0,56.4958,1,0,0,1,0,0,1,0,1,0,0,0
78,0,1,0.83,0,2,29.0000,3,0,1,0,0,0,1,1,0,0,0,0
83,0,1,28.00,0,0,47.1000,1,1,0,0,0,0,1,0,1,0,0,0
85,1,0,33.00,3,0,15.8500,4,0,0,1,0,0,1,0,0,1,0,0
90,1,1,29.00,0,0,8.0500,1,0,0,1,0,0,1,0,1,0,0,0
91,1,1,20.00,0,0,7.8542,1,0,0,1,0,0,1,0,1,0,0,0
100,1,0,28.00,0,0,7.8958,1,0,0,1,0,0,1,0,1,0,0,0
103,1,1,33.00,0,0,8.6542,1,0,0,1,0,0,1,0,0,1,0,0
119,0,0,2.00,4,2,31.2750,7,0,0,1,0,0,1,1,0,0,0,0
121,0,1,28.00,0,0,8.0500,1,0,0,1,0,0,1,0,1,0,0,0
122,1,1,32.50,1,0,30.0708,2,0,1,0,1,0,0,0,0,1,0,0
123,0,0,32.50,0,0,13.0000,1,0,1,0,0,0,1,0,0,1,0,0
127,0,1,24.00,0,0,7.1417,1,0,0,1,0,0,1,0,1,0,0,0
136,1,0,19.00,0,2,26.2833,3,1,0,0,0,0,1,0,1,0,0,0
138,0,1,16.00,0,0,9.2167,1,0,0,1,0,0,1,1,0,0,0,0
140,0,0,28.00,0,2,15.2458,3,0,0,1,1,0,0,0,1,0,0,0
142,1,0,24.00,1,0,15.8500,2,0,0,1,0,0,1,0,1,0,0,0
160,1,1,44.00,0,1,16.1000,2,0,0,1,0,0,1,0,0,1,0,0
162,1,1,26.00,0,0,7.7750,1,0,0,1,0,0,1,0,1,0,0,0
163,0,1,17.00,0,0,8.6625,1,0,0,1,0,0,1,0,1,0,0,0
165,0,1,9.00,0,2,20.5250,3,0,0,1,0,0,1,1,0,0,0,0
170,1,1,61.00,0,0,33.5000,1,1,0,0,0,0,1,0,0,0,1,0
175,0,1,18.00,1,1,7.8542,3,0,0,1,0,0,1,0,1,0,0,0
183,0,1,1.00,2,1,39.0000,4,0,1,0,0,0,1,1,0,0,0,0
185,0,1,28.00,0,0,50.0000,1,1,0,0,0,0,1,0,1,0,0,0
190,0,0,32.00,0,0,13.0000,1,0,1,0,0,0,1,0,1,0,0,0
198,1,0,28.00,0,0,7.7500,1,0,0,1,0,1,0,0,1,0,0,0
202,0,1,34.00,0,0,6.4958,1,0,0,1,0,0,1,0,0,1,0,0
203,0,1,45.50,0,0,7.2250,1,0,0,1,1,0,0,0,0,1,0,0
208,1,0,16.00,0,0,7.7500,1,0,0,1,0,1,0,1,0,0,0,0
215,1,0,31.00,1,0,113.2750,2,1,0,0,1,0,0,0,1,0,0,0
220,0,1,16.00,0,0,8.0500,1,0,0,1,0,0,1,1,0,0,0,0
221,1,1,27.00,0,0,13.0000,1,0,1,0,0,0,1,0,1,0,0,0

# Random Forrest Classifier

In [157]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

train_X, test_X, train_y, test_y = train_test_split(df_RF.drop('Survived', axis=1), df_RF['Survived'], random_state=123)

# Train and test random forest classifier with default parameters
rf_scores = cross_val_score(RandomForestClassifier(), train_X, train_y)
(rf_scores.mean(), rf_scores.std())

(0.7919537650095387, 0.03679628088164086)

# GaussianNB

In [156]:
from sklearn.naive_bayes import GaussianNB

train_X, test_X, train_y, test_y = train_test_split(df_RF.drop('Survived', axis=1), df_RF['Survived'], random_state=175)

# Train and test random forest classifier with default parameters
GNB_scores = cross_val_score(GaussianNB(), train_X, train_y)
(GNB_scores.mean(), GNB_scores.std())

(0.7544158904724497, 0.0624996938350536)