# The dataset
The dataset I'm using for this clustering task is: Airline Passenger Satisfaction. The goal for this dataset is usually to predict if a customer was satisifed or not, but since this is the ground-truth, I've removed it from the dataset.

In [126]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [127]:
# Load dataset
df = pd.read_csv('airline.csv')

In [128]:
df.shape

(103904, 25)

In [129]:
df.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [131]:
df.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,51951.500000,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,29994.645522,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25975.750000,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,51951.500000,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,77927.250000,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [132]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [133]:
df.tail()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

## Cleaning the dataset

In [134]:
df.isnull().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [135]:
df = df.drop(columns=['satisfaction', 'Unnamed: 0', 'id'])
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,5,4,3,4,4,5,5,25,18.0
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,1,5,3,1,4,1,1,6.0
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,2,5,3,1,4,2,11,9.0
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,5,3,3,4,4,3,3,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,...,2,2,3,1,4,2,3,2,3,0.0
103900,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,...,5,5,5,5,5,5,5,4,0,0.0
103901,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,...,5,4,3,2,4,5,5,4,7,14.0
103902,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,...,1,1,4,5,1,5,4,1,0,0.0
103903,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,...,1,1,1,1,4,4,3,1,0,0.0

In [136]:
df['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [137]:
df['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [138]:
df['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [139]:
df['Gender'] = df['Gender'].replace(['Female', 'Male'], [0,1])
df['Customer Type'] = df['Customer Type'].replace(['Loyal Customer', 'disloyal Customer'], [0,1])
df['Type of Travel'] = df['Type of Travel'].replace(['Personal Travel', 'Business travel'], [0,1])
df['Class'] = df['Class'].replace(['Eco Plus', 'Business', 'Eco'], [0,1,2])
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,13,0,0,460,3,4,3,1,...,5,5,4,3,4,4,5,5,25,18.0
1,1,1,25,1,1,235,3,2,3,3,...,1,1,1,5,3,1,4,1,1,6.0
2,0,0,26,1,1,1142,2,2,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,0,0,25,1,1,562,2,5,5,5,...,2,2,2,5,3,1,4,2,11,9.0
4,1,0,61,1,1,214,3,3,3,3,...,5,3,3,4,4,3,3,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,23,1,2,192,2,1,2,3,...,2,2,3,1,4,2,3,2,3,0.0
103900,1,0,49,1,1,2347,4,4,4,4,...,5,5,5,5,5,5,5,4,0,0.0
103901,1,1,30,1,1,1995,1,1,1,3,...,5,4,3,2,4,5,5,4,7,14.0
103902,0,1,22,1,2,1000,1,1,1,5,...,1,1,4,5,1,5,4,1,0,0.0
103903,1,0,27,1,1,1723,1,3,3,3,...,1,1,1,1,4,4,3,1,0,0.0

In [140]:
pd.cut(df['Flight Distance'], 4)

0         (26.048, 1269.0]
1         (26.048, 1269.0]
2         (26.048, 1269.0]
3         (26.048, 1269.0]
4         (26.048, 1269.0]
                ...
103899    (26.048, 1269.0]
103900    (1269.0, 2507.0]
103901    (1269.0, 2507.0]
103902    (26.048, 1269.0]
103903    (1269.0, 2507.0]
Name: Flight Distance, Length: 103904, dtype: category
Categories (4, interval[float64, right]): [(26.048, 1269.0] < (1269.0, 2507.0] < (2507.0, 3745.0] < (3745.0, 4983.0]]

In [141]:
# Got the idea of splitting age into bins from another Notebook, but seems like a common practice called Binning, where you put a range of values into a bin
def bins(df):
    df['FlightDistanceGroup'] = 0
    df.loc[df['Flight Distance'] < 26.048, 'FlightDistanceGroup' ] = 0
    df.loc[(df['Flight Distance'] >= 26.048) & (df['Flight Distance'] < 1269), 'FlightDistanceGroup'] = 1
    df.loc[(df['Flight Distance'] >= 1269) & (df['Flight Distance'] < 2507), 'FlightDistanceGroup'] = 2
    df.loc[(df['Flight Distance'] >= 2507) & (df['Flight Distance'] < 3745), 'FlightDistanceGroup'] = 3
    df.loc[df['Flight Distance'] >= 3745, 'FlightDistanceGroup'] = 4

    # Could also create bins for fare, but not sure Fare is needed.

    return df

def min_max_normalizing(df):
    df['Flight Distance'] = (df['Flight Distance'] - df['Flight Distance'].min()) / \
                      (df['Flight Distance'].max() - df['Flight Distance'].min())

    return df

# Z-score Normalizing
def z_score_normalizing(df):
    df['Flight Distance'] = (df['Flight Distance'] - df['Flight Distance'].mean()) / df['Flight Distance'].std()

    return df

df = bins(df)
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,FlightDistanceGroup
0,1,0,13,0,0,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,1
1,1,1,25,1,1,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,1
2,0,0,26,1,1,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,0,0,25,1,1,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,1
4,1,0,61,1,1,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,23,1,2,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,1
103900,1,0,49,1,1,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,2
103901,1,1,30,1,1,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,2
103902,0,1,22,1,2,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,1
103903,1,0,27,1,1,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,2